@import "../variables";

.input {
  @apply text-sm text-black-700 bg-gray-100 border-b-2 border-tertiary shadow-inner rounded outline-none p-2 align-middle transition;
  min-height: 35px;
  caret-color: $secondary-color;

  -webkit-appearance: none; // iPhone fix
  -moz-appearance: none; // iPhone fix
  appearance: none; // iPhone fix

  &:disabled {
    @apply text-black-200 cursor-not-allowed;
  }

  &:focus {
    @apply border-primary;
  }

  &.invalid {
    @apply border-b-2 border-danger;
  }

  &.pending {
    @apply border-b-2 border-secondary;
  }

  &.valid {
    @apply border-b-2 border-success;
  }

  &.multiselect {
    @apply p-0 rounded;

    &.multiselect--left {
      .multiselect__content-wrapper {
        @apply w-auto left-0;
      }
    }

    &.multiselect--right {
      .multiselect__content-wrapper {
        @apply w-auto right-0;
      }
    }

    .multiselect__select {
      @apply h-full;
      &:before {
        @apply relative h-4 w-4 border-0;
        content: '';
        background-image: url('#{$img-path}down-arrow.svg');
        background-size: 100% 100%;
        display: inline-block;

        top: calc(50% - 10px);
      }
    }

    .multiselect__tags {
      @apply horiz flex-wrap;

      .multiselect__input {
        @apply text-sm weight-1;
      }

      .multiselect__single {
        @apply bg-transparent top-0 text-sm text-black-700 truncate horiz items-center font-semibold;
        height: calc(100% - 10px);
        width: calc(100% - 50px);
        min-width: 50px;
        margin-top: 5px;
      }

      .multiselect__tag {
        .multiselect__tag-icon {
          &:hover {
            background: $secondary-color;
          }
        }
      }
    }

    .multiselect__content-wrapper {
      &::-webkit-scrollbar-thumb {
        background: $secondary-color;
      }

      ul.multiselect__content {
        li.multiselect__element {
          .multiselect__option {
            @apply text-sm;

            &.multiselect__option--highlight {
              @apply bg-secondary text-white opacity-75;
            }

            &.multiselect__option--selected {
              @apply bg-secondary text-white;
            }

            &:hover {
              @apply bg-secondary text-white opacity-75;
            }
          }
        }
      }
    }
  }

  &.multiselect--disabled {
    .multiselect__current, .multiselect__select {
      @apply bg-transparent opacity-50;
    }
  }
}

.input-group {
  @apply verti;

  .input-group__label {
    @apply text-xs text-black-700;
  }

  .input-group__input {
    @extend .input;
  }

  &.input-group--dark {
    .input-group__input {
      @apply bg-white-500;
    }
  }

  &.input-group--text {
    .input-group__label {
      @apply ml-1;
    }
  }

  &.input-group--select {
    .input-group__input {
      min-height: 2rem !important;
    }

    .input-group__label {
      min-height: 1.5rem !important;
      line-height: 1.5rem !important;
    }
  }

  &.input-group--nolabel {
    .input-group__label {
      @apply hidden;
    }
  }
}
