@import "variables";

/********************** VENDOR **************************/
@import "~normalize-scss/sass/normalize";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~linelay/build";
@import "~simpli-web-sdk/scss/main";
/********************************************************/

@import "base";
@import "font";
@import "helper";
@import "palette";

@import "components/sidebar";

.header {
  padding: 10px 30px;

  background: white;
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .4);
  z-index: 1;
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: #{$padding-base * 2};

  &.required {
    .control-label:after, .multiselect-label:after {
      content: "*";
      color: red;
    }
  }

  .control-label {
    margin-bottom: 3px;
  }

  .form-control {
    width: 100%;
  }

  .multiselect-label {
    font-weight: bold;
  }
}

.display {
  @extend .pal-black.text;

  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;

  &.contrast {
    @extend .pal-white.text;
  }

  @media screen and (max-width: $display-large) {
    font-size: 32px;
  }

  @media screen and (max-width: $display-medium) {
    font-size: 28px;
  }

  @media screen and (max-width: $display-small) {
    font-size: 4.5vw;
  }

  &.huge {
    font-size: 48px;

    @media screen and (max-width: $display-large) {
      font-size: 42px;
    }

    @media screen and (max-width: $display-medium) {
      font-size: 36px;
    }

    @media screen and (max-width: $display-small) {
      font-size: 5.5vw;
    }
  }

  &.big {
    font-size: 42px;

    @media screen and (max-width: $display-large) {
      font-size: 37px;
    }

    @media screen and (max-width: $display-medium) {
      font-size: 32px;
    }

    @media screen and (max-width: $display-small) {
      font-size: 5vw;
    }
  }

  &.small {
    font-size: 30px;
    font-weight: 300;

    @media screen and (max-width: $display-large) {
      font-size: 27px;
    }

    @media screen and (max-width: $display-medium) {
      font-size: 24px;
    }

    @media screen and (max-width: $display-small) {
      font-size: 21px;
    }
  }

  &.tiny {
    font-size: 24px;
    font-weight: 300;

    @media screen and (max-width: $display-large) {
      font-size: 22px;
    }

    @media screen and (max-width: $display-medium) {
      font-size: 20px;
    }

    @media screen and (max-width: $display-small) {
      font-size: 18px;
    }
  }

  &.mini {
    font-size: 18px;
    font-weight: 300;

    @media screen and (max-width: $display-large) {
      font-size: 17px;
    }

    @media screen and (max-width: $display-medium) {
      font-size: 16px;
    }

    @media screen and (max-width: $display-small) {
      font-size: 15px;
    }
  }
}

.elevated {
  @extend .pal-white-90.bg;
  @extend .pal-black-10.box-shadow.deep-15;

  border-radius: $radius-base;
  padding: 0;

  &.intense {
    @extend .pal-black-30.box-shadow.deep-15;
  }

  &.square {
    border-radius: 0;
  }

  &.padded {
    padding: #{$padding-base * 2};

    @media screen and (max-width: $display-small) {
      padding: #{$padding-base};
    }

    &.wide {
      padding: #{$padding-base * 3};

      @media screen and (max-width: $display-medium) {
        padding: #{$padding-base * 2};
      }

      @media screen and (max-width: $display-small) {
        padding: #{$padding-base};
      }
    }
  }
}

.row {
  max-width: calc(100% + #{2 * $padding-base});
  margin: -$padding-base;
  margin-bottom: $padding-base;

  .col {
    padding: $padding-base;
    margin: 0;

    &.inline {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.wide {
    max-width: calc(100% + #{$padding-base * 4});
    margin: -#{$padding-base * 2};
    margin-bottom: #{$padding-base * 2};

    .col {
      padding: #{$padding-base * 2};

      &.inline {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &.compact {
    max-width: calc(100% + #{$padding-base});
    margin: -#{$padding-base / 2};
    margin-bottom: #{$padding-base / 2};

    .col {
      padding: #{$padding-base / 2};

      &.inline {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  @media only screen and (max-width: $display-small) {
    &, &.compact, &.wide {
      max-width: calc(100% + #{$padding-base / 2});
      margin: -#{$padding-base / 4};
      margin-bottom: #{$padding-base / 4};

      .col {
        padding: #{$padding-base / 4};

        &.inline {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.container {
  width: $container-large-desktop;
  margin: auto;

  @media screen and (max-width: $display-extra-large) {
    width: $container-desktop;
  }

  @media screen and (max-width: $display-large) {
    width: $container-tablet;
  }

  @media screen and (max-width: $display-medium) {
    width: auto;
    margin: auto 10px;
  }

  &.fluid {
    width: auto;
    margin: auto 80px;

    &.wide {
      margin: auto 200px;
    }

    @media screen and (max-width: $display-large) {
      &.center-mobile {
        text-align: center;
      }

      margin: auto 40px;
      &.wide {
        margin: auto 100px;
      }
    }

    @media screen and (max-width: $display-medium) {
      &.center-mobile {
        text-align: center;
      }

      margin: auto 10px;
      &.wide {
        margin: auto 20px;
      }
    }
  }
}
