@import "variables";

/********************** VENDOR **************************/
@import "~normalize-scss/sass/normalize";
@import "~simple-line-icons/scss/simple-line-icons";
@import "~linelay/defaultBuild";
@import "~simpli-web-sdk/scss/main";
@import "~simpli-web-sdk/scss/utils";
/********************************************************/

@import "base";
@import "font";
@import "helper";
@import "palette";

@import "components/sidebar";

.header {
  padding: 10px 30px;

  background: white;
  box-shadow: 2px 4px 20px -4px rgba(0, 0, 0, .4);
  z-index: 1;
}
