@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "vendor";
@import "base";

// generic COMPONENTS that are NOT implemented as a vue-component or have MANY components associated with the same style
@import "components/btn";
@import "components/card";
@import "components/header";
@import "components/input";
@import "components/table";
@import "components/view";
