
@mixin palette($hex)  {
  &.bg {
    background: $hex;
    &.lighten {
      background: lighten($hex, 20%);
    }
    &.darken {
      background: darken($hex, 20%);
    }
  }

  &.text {
    color: $hex;
    &.lighten {
      color: lighten($hex, 20%);
    }
    &.darken {
      color: darken($hex, 20%);
    }
  }

  &.border {
    border: 1px $hex solid;

    &.top {
      border-top: 1px solid $hex;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    &.bottom {
      border-top: none;
      border-bottom: 1px solid $hex;
      border-left: none;
      border-right: none;
    }

    &.left {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid $hex;
      border-right: none;
    }

    &.right {
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: 1px solid $hex;
    }
  }

  &.box-shadow {
    box-shadow: 0 0 2px $hex;

    &.highlight {
      box-shadow: 0 0 0 2px $hex;
      &.lighten {
        box-shadow: 0 0 0 2px lighten($hex, 20%);
      }
      &.darken {
        box-shadow: 0 0 0 2px darken($hex, 20%);
      }
    }

    &.deep-5 {
      box-shadow: 0 0 5px $hex;
    }

    &.deep-10 {
      box-shadow: 0 0 10px $hex;
    }

    &.deep-15 {
      box-shadow: 0 0 15px $hex;
    }

    &.deep-20 {
      box-shadow: 0 0 20px $hex;
    }

    &.deep-25 {
      box-shadow: 0 0 25px $hex;
    }

    &.deep-30 {
      box-shadow: 0 0 30px $hex;
    }
  }

  &.text-shadow {
    text-shadow: 0 2px 4px $hex;
  }
}
