// colors defined on .env and used on tailwind.config
// a tailwind plugin compiles them to css variables
// here we define sass variables to be used only by vendor
// to work with those colors prefer calling @apply
$primary-color: var(--color-primary);
$secondary-color: var(--color-secondary);
$tertiary-color: var(--color-tertiary);
$success-color: var(--color-success);
$danger-color: var(--color-danger);

$pretty--color-default: #718096;
$pretty--color-dark: #2D3748;

$img-path: "./assets/img/" !default;
$font-path: "./assets/font/" !default;
$simple-line-font-path: "~simple-line-icons/fonts/" !default;
