
@import "simplipack/effect";
@import "simplipack/modal";

$primary-color: #21AEB6;
$secondary-color: #21B685;
$tertiary-color: #165B5F;

$light-primary-color: lighten($primary-color, 20%);
$light-secondary-color: lighten($secondary-color, 20%);
$light-tertiary-color: lighten($tertiary-color, 20%);

$dark-primary-color: darken($primary-color, 20%);
$dark-secondary-color: darken($secondary-color, 20%);
$dark-tertiary-color: darken($tertiary-color, 20%);

$success-color: #6da544;
$warning-color: #ffda44;
$danger-color: #cd2626;

$light-background-color: #F2FCFA;
$dark-background-color: #221A2A;

$display-small: 576px;
$display-medium: 768px;
$display-large: 992px;
$display-extra-large: 1200px;

$container-large-desktop: 1170px;
$container-desktop: 970px;
$container-tablet: 750px;

$padding-base: 8px;
$radius-base: 6px;

$img-path: "./assets/img/" !default;
$font-path: "./assets/font/" !default;
$simple-line-font-path: "~simple-line-icons/fonts/" !default;

