$effect-fade-duration: 400ms;

$effect-fade-up-duration: 400ms;
$effect-fade-up-length: 20px;

$effect-fade-down-duration: 400ms;
$effect-fade-down-length: 20px;

$effect-fade-left-duration: 400ms;
$effect-fade-left-length: 20px;

$effect-fade-right-duration: 400ms;
$effect-fade-right-length: 20px;

$effect-fade-up-big-duration: 400ms;
$effect-fade-down-big-duration: 400ms;
$effect-fade-left-big-duration: 400ms;
$effect-fade-right-big-duration: 400ms;

$effect-zoom-duration: 400ms;

$effect-zoom-up-duration: 400ms;
$effect-zoom-down-duration: 400ms;
$effect-zoom-left-duration: 400ms;
$effect-zoom-right-duration: 400ms;

$effect-blur-duration: 400ms;
$effect-blur-length: 20px;
