$modal-default-width: 500px;
$modal-default-width-tablet: 400px;

$modal-small-width: 300px;
$modal-small-width-tablet: 300px;

$modal-large-width: 700px;
$modal-large-width-tablet: 500px;

$modal-backdrop: rgba(0, 0, 0, 0.4);
$modal-radius: 6px;
$modal-padding-base: 8px;
$modal-depth: 9;
$modal-shadow: 0 9px 30px 0 rgba(0, 0, 0, 0.4);
